@import "tailwindcss";

@theme {
  --color-blue-500: #202832;
  --color-blue-400: #43516B;
  --color-orange-100: #FEEFE2;
  --color-orange-500: #F6D7C5;

  --color-black-opacity-60: rgba(0, 0, 0, 0.6);
}